<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
		<h2>Welcome home , <%= user.username%> </h2>

	</div>
	<a href="/home2/myprofile">My profile</a> ||
	<a href="/home2/approve_info">Approved_Post</a> ||
	<a href="/home2/post">Create Information</a> ||
	<a href="/logout">Logout</a><br>

	Id:<%= user.id %><br>
	Username:<%= user.username %><br>
	Password:<%= user.password %><br>
	Type:	<%= user.type %>

</body>
</html>