<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
		<h2>Its your Profile , <%= user.username%> </h2>

	</div>
	
	<a href="/home2/editProfile/<%= user.id %>">Edit</a> |
	<a href="/logout">Logout</a><br>

	Id:<%= user.id %><br>
	Username:<%= user.username %><br>
	Password:<%= user.password %><br>
	Type:	<%= user.type %>

</body>
</html>